<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  layout:decorate="~{layout}"
>

<body>
    <!-- Content starts -->
    <section class="my-3 p-3 bg-white rounded box-shadow" layout:fragment="content">
      <div class="alert alert-success" role="alert">
          <small><strong>Well done!</strong> Aww yeah, you successfullying logged in.<br/>
          Your SAML 2.0 authentication process works fine.</small>
      </div>
      <p><img class="img-fluid" th:src="@{/img/nyan-cat.jpg}" /></p>
      <p>You are logged as <span class="badge badge-dark" th:text="${username}">null</span>.</p>
      <small class="d-block text-right mt-3" id="sso-btn">
        <a th:href="@{/saml/logout}" class="btn btn-spring btn-sm">
          <i class="far fa-user-circle"></i> Global logout
        </a>
        <a th:href="@{/saml/logout?local=true}" class="btn btn-spring btn-sm">
          <i class="fas fa-sign-out-alt"></i> Local logout
        </a>
      </small>
    </section>
    <!-- Content ends -->
</body>

</html>
